:root {
    --c-modal-color-grey: rgb(90, 90, 90);
}

.c-modal__container {
    color: var(--dark-blue);
}

.c-modal__mask {
    content: '';
    z-index: -1;
    top: 0;
    position: fixed;
    background: black;
    opacity: 0;
    height: 100vh;
    width: 100vw;
    transition: all .5s ease-in-out;
}

.c-modal__mask--apply {
    content: '';
    z-index: 1;
    opacity: .5;
    cursor: pointer;
    margin-left: calc(-1 * var(--body-vertical-padding));
}

.c-modal__close {
    position: absolute;
    right: 0;
    top: -2rem;
    width: .5em;
    height: .5em;
    cursor: pointer;
    background: white;
    padding: 0.5rem;
    border-radius: 1rem;
    opacity: 0.7;
    transition: opacity .5s ease-in-out;
}

.c-modal__close:before,
.c-modal__close:after {
    content: '';
    position: absolute;
    width: 2px;
    height: 1em;
    background: var(--boldedSilver);
    display: block;
    transform: rotate(45deg);
    left: 50%;
    margin: .3rem 0 0 -1px;
    top: 0;
    transform: rotate(-45deg);
}

.c-modal__close:after {
    transform: rotate(45deg);
}

.c-modal__close:hover {
    opacity: 1;
}

.c-modal__container {
    background: white;
    position: fixed;
    z-index: 2;
    top: 50vh;
    left: 50vw;
    margin-left: -33vw;
    margin-top: -40vh;
    padding: .5rem;
    box-shadow: 1px 1px 12px black;
    width: 66vw;
    opacity: 1;
    transition: all .5s ease-in-out;
    border-radius: .5rem;
}

.c-modal__container--hidden {
    width: 0;
    height: 0;
    opacity: 0;
    z-index: -1;
    padding: 0;
}

.c-modal__title {
    position: absolute;
    top: -1.5rem;
    margin: 0;
    color: var(--white);
}

.c-modal__body {
    background: var(--white);
    padding: 1rem;
    border-radius: .5rem;
    overflow: auto;
    max-height: 75vh;
}

.c-modal__footer-content {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.c-modal__footer--decoration {
    padding-top: .5rem;
    border-top: solid 1px var(--silver);
}
