<div id="edit-actions" class="c-modal__footer-content">
    {% if update %}
        <div class="left">
            <button class="c-delete-app-button"
                    onclick="ask_delete_app()">
                Supprimer
            </button>
        </div>
    {% endif %}
    <div class="right">
        {% if update %}
            <button class="c-update-app-button"
                    onclick="update_app('{{ session_name }}')">
                Mettre à jour
            </button>
        {% else %}
            <button class="c-new-app-button"
                    onclick="insert_app('{{ session_name }}')">
                Créer
            </button>
        {% endif %}
    </div>
</div>
<div id="action-confirm-delete" class="c-modal__footer-content hidden">
    <div class="left">
        <button class="c-no-app-button"
                onclick="undo_delete_app()">
            Non
        </button>
    </div>
    {% set app_key = app_key if app_key else null %}
    <div class="right">
        <button class="c-yes-app-button"
                onclick="delete_app('{{ session_name }}', {{ app_id }}, {{ app_key }})">
            Oui
        </button>
    </div>
</div>
