:root {
    --dark-blue: #262E42;
    --green: #8BA94A;
    --white: #FBFBFB;

    --round: 50%;

    --body-vertical-padding: var(--spacing-3x);
    --top-bar-padding: var(--spacing-3x);
    --button-sm-height: var(--spacing-5x);
    --button-border-thickness: var(--spacing-0-25x);

    --widget-animation: .1s;
    --widget-animation-slow: .5s;
}

@media (min-width: 744px) {
    :root {
        --body-vertical-padding: var(--spacing-7x);
    }
}

