{% include 'top_bar.html' %}
<div id="horizontal-menu">
    {% include 'horizontal_categories_menu.html' %}
</div>
<div id="apps" class="bg-default">
    <div class="c-app__container c-app__container--child-session">
        {% include 'apps.html' %}
    </div>
</div>