<meta charset="utf-8">
<meta name="referrer" content="unsafe-url">
{% if session.name %}
    <title>Primtux Menu : {{ session.name }}</title>
{% else %}
    <title>Primtux Menu</title>
{% endif %}
<link rel="icon" href="/static/favicon.svg" type="image/svg+xml">

{% include 'css.html' %}
