{% from 'widgets/buttons.html' import button %}

{% macro tile(name, main_level_name, sub_level_name, color, icon_path, url_param, radio_name, nb_apps) %}
    {% set main_level_url = main_level_name|replace("'", "\\'") %}
    {% set sub_level_url = sub_level_name|replace("'", "\\'") %}
    <input
        id="{{ name }}"
        type="radio"
        name="{{ radio_name }}"
        class="select-menu__input"
        {% if main_level_name == '' and url_param == None or url_param == name %} checked {% endif %}
        onchange="go_level(0, '{{ main_level_url }}', '{{ sub_level_url}}', '{{ session.type }}')" />
    <label
        for="{{ name }}"
        class="select-menu__item select-menu__item--horizontal select-menu__item--selectable bg-{{ color }}" >
        {% if icon_path %}
            {% include 'svg/categories/' + icon_path %}
        {% endif %}
        <span class="select-menu__item-label">{{ name }}</span>
        {% if session_name == 'poe' and nb_apps %}
            <span class="select-menu__nb-apps">{{ nb_apps }}</span>
        {% endif %}
    </label>
{% endmacro %}

{% macro sub_tile(name, main_level_name, sub_level_name, color, icon_path, url_param, radio_name, nb_apps) %}
    {% set main_level_url = main_level_name|replace("'", "\\'") %}
    {% set sub_level_url = sub_level_name|replace("'", "\\'") %}
    {% set id = name + '_' + main_level_name %}
    <input
        id="{{ id }}"
        type="radio"
        name="{{ radio_name }}"
        {% if sub_level_name == '' and url_param == None or url_param == name %} checked {% endif %}
        onchange="go_level(0, '{{ main_level_url }}', '{{ sub_level_url}}', '{{ session.type }}')" />
    <label
        for="{{ id }}"
        class="select-menu__item select-menu__sub-item select-menu__sub-item--horizontal">
        <div class="select-menu__sub-item-button select-menu__item--selectable bg-{{ color }}">
            {% include 'svg/categories/' + icon_path %}
        </div>
        <div class="select-menu__sub-item-label" >{{ name }}</div>
        {% if session_name == 'poe' and nb_apps %}
            <span class="select-menu__sub-nb-apps">{{ nb_apps }}</span>
        {% endif %}
    </label>
{% endmacro %}

<div class="horizontal-menu__scroll-container" tabindex="-1">
    <fieldset class="select-menu select-menu--row select-menu--row-centered">
        {% set radio_name = 'categorie' %}
        {{ tile('Toutes les applications', '', '', 'all', 'toutes-applications.svg', level_name, radio_name, nb_apps_for_session) }}
        {% for menu_item in menu %}
            {% if  menu_item.nb_apps > 0 %}
                {{ tile(menu_item.name, menu_item.name, '', menu_item.color, menu_item.icon_path, level_name, radio_name, menu_item.nb_apps) }}
            {% endif %}
        {% endfor %}
    </fieldset>
    {{ button('arrow_left', '', '#', 'button--alt horizontal-menu__scroll-button horizontal-menu__scroll-button--categories horizontal-menu__scroll-button--left hidden', '') }}
    {{ button('arrow_right', '', '#', 'button--alt horizontal-menu__scroll-button horizontal-menu__scroll-button--categories horizontal-menu__scroll-button--right hidden', '') }}
</div>
{% for menu_item in menu %}
    {% set sub_menu = menu_item.menu %}
    {% if sub_menu is not none and sub_menu|length != 0 %}
        {% set css_submenu_show = '' %}
        {% if level_name == menu_item.name %}
            {% set css_submenu_show = 'horizontal-sub-menu--show' %}
        {% else %}
            {% set css_submenu_show = 'hidden' %}
        {% endif %}
        {% set parent_menu_url = menu_item.name|replace("'", "\\'") %}
        {% set radio_name = 'submenu_' + parent_menu_url %}
        {% set categorie_index = loop.index %}
        <div id="{{ radio_name }}" class="horizontal-sub-menu {{ css_submenu_show }}">
            <div class="horizontal-menu__scroll-container" tabindex="-1">
                <fieldset class="select-menu select-menu--row select-menu--row-centered">
                    {{ sub_tile('Tout', menu_item.name, '', menu_item.color, 'toutes-sous-apps.svg', sub_level_name, radio_name, menu_item.nb_apps) }}
                    {% for entry in sub_menu %}
                        {% if entry.nb_apps > 0 %}
                            {{ sub_tile(entry.name, menu_item.name, entry.name, entry.color, entry.icon_path, sub_level_name, radio_name, entry.nb_apps) }}
                        {%endif %}
                    {% endfor %}
                </fieldset>
                {{ button('arrow_left', '', '#', 'button--alt horizontal-menu__scroll-button horizontal-menu__scroll-button--sub-categories horizontal-menu__scroll-button--left hidden', '') }}
                {{ button('arrow_right', '', '#', 'button--alt horizontal-menu__scroll-button horizontal-menu__scroll-button--sub-categories horizontal-menu__scroll-button--right hidden', '') }}
            </div>
        </div>
    {% endif %}
{% endfor %}

<script>
    window.addEventListener("load", function(){ c_menu_init('{{ session_name }}'); });
</script>
