<html data-theme="dark">
    <head>
        {% include 'head.html' %}
    </head>
    <body class="{{ session.type }}__session bg-default">
        {% if session.type == 'poe' %}
            {% include 'poe.html' %}
        {% else %}
            {% include 'child.html' %}
        {% endif %}

        {% include 'widgets/modal.html' %}
    </body>
    {% include 'js.html' %}
</html>
