{% from 'widgets/buttons.html' import button %}

{% if session_name == 'poe' %}
    {% set data_set_edit = 'true' if preferences.edition else 'false' %}
    <div id="edit-zone" data-edit="{{ data_set_edit }}">
        {% set css_class_edit_button = 'button--secondary hidden' if preferences.edition else 'button--secondary' %}
        {% set css_class_disabled_edit_button = 'button--secondary' if preferences.edition else 'button--secondary hidden' %}
        <div id="edit-button">
            {{ button('edit', 'Accès à toutes les sessions', 'javascript:edit_mode(true)', css_class_edit_button, '', 'edit-mode-action') }}
            {{ button('arrow_left', 'Revenir au menu adulte', 'javascript:edit_mode(false)', css_class_disabled_edit_button, '', 'disable-edit-mode-action') }}
        </div>
    </div>
{% endif %}

<div id="top-bar">
    {% if session.type != 'index' %}
        <a class="session-link session-link--sm" href="javascript:show_hide_back_to_session()" tabindex="1">
            <div class="menu__icon menu__icon--sm">
                <img src="/static/assets/sessions/{{ session.type }}.svg" />
            </div>
            <div class="menu__icon-label menu__icon-label--sm">{{ session.name }}</div>
        </a>

        <div id="back-to-sessions" class="hidden">
            <div class="modal-background" onclick="show_hide_back_to_session()"></div>
            <div class="dialog">
                <p>Retourner à l'écran des sessions&nbsp;?</p>
                <div class="actions">
                    {{ button('cancel', 'Annuler', 'javascript:show_hide_back_to_session()', 'button--secondary', '') }}
                    {{ button('logout', 'Quitter', '/logout', '', '') }}
                </div>
            </div>
        </div>
    {% else %}
        <div></div>
    {% endif %}
    {% set toggle_theme = 'javascript:toggle_theme("' + session.type + '")' %}
    {{ button('dark-theme-switch', '', toggle_theme, 'button--tertiary dark-switch', 'Basculer en thème clair') }}
    {{ button('light-theme-switch', '', toggle_theme, 'button--tertiary light-switch', 'Basculer en thème sombre') }}
</div>

<script>
    function show_hide_back_to_session() {
        show_hide(document.getElementById('back-to-sessions'), false)
    }
    // attention, c'est important ici d'utiliser "DOMContentLoaded", et non "load"
    // pour que le thème soit défini suffisament tôt et éviter un effet de flash
    window.addEventListener("DOMContentLoaded", function(){ init_theme("{{ session.type }}"); });
</script>